<div id="help_video" style="z-index:9999;padding-top:100px;position:absolute; height:100%; width:100%; display:none;top:0px;left:0px;background-color: black;opacity: 0.8;#dedede;text-align: center;">
  <div style="width:740px; height:24px; margin:0 auto;">
    <a href="#" title="Cerrar video." onclick="jQuery('#help_video').hide(); return false;" style="background: url(/img/icons/btnClose.png) no-repeat transparent;width: 24px;height: 24px;cursor: pointer; float:right;z-index: 999;" >
    </a>
  </div>
  <div style="background-color:black;opacity:1;height:auto;width:auto;min-height:575px;min-width:700px;">
    <object width="700" height="575">
      <param name="movie" value="http://www.youtube.com/v/QTIXl9ZKyUs&rel=0"></param>
      <param name="wmode" value="direct"></param>
      <embed src="http://www.youtube.com/v/QTIXl9ZKyUs&rel=0" type="application/x-shockwave-flash" wmode="direct" width="700" height="575"></embed>
    </object>
  </div>
</div>
