  {% extends "frontend/_base.html"%}
  
  {%block metas%}
    <title>DirectoDueño - Alquiler y Venta de Casas, Departamentos, Locales y Lotes en La Plata y Buenos Aires Zona Norte</title>
    <meta name="description" content="Encuentre su propiedad en La Plata y el Gran buenos Aires. Ubique casa, departamento, ph, oficina, local, galpón, consultorio, country, quinta, lote, terreno, cochera o campo en venta y en alquiler." />
    <meta name="keywords" content="DirectoDueño, búsqueda de inmuebles por mapa, casa, departamento, ph, oficina, local, galpón, consultorio, country, quinta, lote, terreno, cochera, campo, en alquiler, en venta" />
  {%endblock%}
  
  {%block head%}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&v2' rel='stylesheet' type='text/css'>
  {%endblock%}  
  
  {%block js%}
    <script type="text/javascript">
      var OPER_SELL             = {{ _OPER_SELL }};
      var OPER_RENT             = {{ _OPER_RENT }};
      
      {% set price_ranges = config_array['multiple_values_properties']['prop_operation_id']['ranges'][preset['prop_operation_id']] %}
      var default_slider_step   = {{ price_ranges['step'] }};
      var default_slider_min    = {{ price_ranges['min'] }};
      var default_slider_max    = {{ price_ranges['max'] }};

      {% set price_ranges = config_array['multiple_values_properties']['prop_operation_id']['ranges']['1'] %}
      var default_slider_step1  = {{ price_ranges['step'] }};
      var default_slider_min1   = {{ price_ranges['min'] }};
      var default_slider_max1   = {{ price_ranges['max'] }};

      {% set price_ranges = config_array['multiple_values_properties']['prop_operation_id']['ranges']['2'] %}
      var default_slider_step2  = {{ price_ranges['step'] }};
      var default_slider_min2   = {{ price_ranges['min'] }};
      var default_slider_max2   = {{ price_ranges['max'] }};
      
      jQuery(document).ready(function(){
        direct_zone_links                     = new Array();
        direct_zone_links['la_plata']           = new Array('-34.921127', '-57.954626', 13);
        direct_zone_links['gonnet']             = new Array('-34.888536', '-58.02259', 14);
        direct_zone_links['city_bell']          = new Array('-34.879453', '-58.061228', 14);
        direct_zone_links['bsas_zona_norte']    = new Array('-34.51469',  '-58.486061', 13);
      });
      
      function onDirectLink(key)
      {
        var data = direct_zone_links[key];
        jQuery('#center_lat').val(data[0]);
        jQuery('#center_lon').val(data[1]);
        if(data[2]>0)
        {
          jQuery('#zoom_level').val(data[2]);
        } 
        checkForm();
        jQuery('#home_search_form').submit();
        return false;
      }
      
      $(document).ready( function() {
        init_home();
      });
    </script>
  {%endblock%}  
  
  {% block body %}
    
  <body class="frontend_home">
    <div id="container" align="center">
        <!-- /// Container 960 /// -->
        <div id="content" align="left">
          <!-- /// HEADER /// -->
          <div id="header">
            <a href="/" title="Página de inicio de DirectoDueño"><img class="logo" src="/img/pixel-transp.gif" /></a>
            {%include "frontend/templates/header_links.html"%}
          </div>
            <div id="search">
              <div class="home_title">
                <div class="first">
                  Donde comprás y alquilás  
                </div>
                <div class="second">
                  sin intermediarios
                </div>
              </div>
              <div class="box">
              	
                <form action="{{ url_for('frontend/map') }}" method="post" name="home_search_form" id="home_search_form" >
                  <input name="price_min" id="price_min" type="hidden" value="0" />
                  <input name="price_max" id="price_max" type="hidden" value="0" />
                  <input name="center_lat" id="center_lat" type="hidden" value="0" />
                  <input name="center_lon" id="center_lon" type="hidden" value="0" />
                  <input name="zoom_level" id="zoom_level" type="hidden" value="14" />
                  <h1>Busco inmueble en</h1>
                  <div id="searchbox">
                    <input class="search" name="searchmap" id="searchmap" placeholder="ej: La Plata, Buenos Aires, Argentina" type="text" value="" />                    
                    <input type="button" id="btnSearchHome" value="Buscar" style="border:none;"/>
                    <ul id="locations">
                      <li><a href="/mapa/casas-departamentos-ph-en-venta-en-la-plata/75004" onClick="return onDirectLink('la_plata');" title="La Plata (centro)">La Plata,</a></li>
                      <li><a href="/mapa/casas-departamentos-ph-en-venta-en-gonnet/72009" onClick="return onDirectLink('gonnet');" title="Manuel B. Gonnet">Gonnet,</a></li>
                      <li><a href="/mapa/casas-departamentos-ph-en-venta-en-city-bell/71004" onClick="return onDirectLink('city_bell');" title="City Bell">City Bell,</a></li>
                      <li><a href="/mapa/casas-departamentos-ph-en-venta-en-zona-norte/76006" onClick="return onDirectLink('bsas_zona_norte');" title="Vicente López, Florida, Olivos, La Lucila, Martínez, Acasusso, San Isidro">Buenos Aires Zona Norte</a></li>
                    </ul>
                    <div class="hr"></div>
                  </div>
                  <div id="filterbox">
                    <ul>
                      <li class="type">
                        <h4>ver sólo:</h4>
                        <div jqtransform="true">
                          {% set in_home = config_array['cells']['prop_type_id']['in_home'] %}
                          {% set type_descriptions = config_array['cells']['prop_type_id']['descriptions'] %}
                          {% set short_type_descriptions = config_array['cells']['prop_type_id']['short_descriptions'] %}
                          {% for item in type_descriptions %}
                            {% set index = loop.index0 %} 
                            {% if index>0 and in_home[index]==1 %}
                              <div class="ex-label" title="{{ item }}">
                                <input type="checkbox" checked="checked" name="prop_type_id[{{ index }}]" id="prop_type_id[{{ index }}]" title="{{ item }}" />
                                &nbsp;{{ short_type_descriptions[index] }}
                              </div>
                            {% endif %}
                          {% endfor %}
                          <div>
                            <a class="more" href="{{url_for('frontend/map')}}?filtro_extendido=1">más &raquo;</a>
                          </div>
                        </div>
                      </li>
                      <li class="oper">
                      <h4>para:</h4>
                        <div id="prop_operation_id_container">
                          {% set key = 'prop_operation_id' %}
                          {% set descriptions = config_array['multiple_values_properties'][key]['descriptions'] %}
                          {% for item in descriptions %}
                            {% set index = loop.index0 %}
                            {% if index>0 %}
                              <label class="ex-label" style="{{ 'padding-right:15px;' if index==1 else ''}}">
                                <input type="radio" {{'checked="checked"' if index==_OPER_SELL else ''}} id="prop_operation_id{{index}}" name="prop_operation_id" value="{{index}}" />{{item}}
                              </label>
                            {% endif %}
                          {% endfor %}
                          <input type="hidden" id="prop_operation_id" value="{{_OPER_SELL}}">
                          <div>
                            <a style="display:none;" class="more" href="#">más &raquo;</a>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="hr"></div>
                    <div class="price_option_item">
                      <label>Precio</label>
                      <div class="slider" id="price_slider"></div>
                      <span id="price_display">0 <span class="to">hasta</span> 150</span>
                    </div>
                  </div>
                </form>
              </div>
            
              <div class="btnPublish" onClick="location.href='admin/signup'">
                <p class="first_line">SOY DUEÑO</p>
                <p class="second_line">QUIERO PUBLICAR</p>
              </div>
            
            </div>
            
            
            <div id="features">
    <!-- SEGUNDA LINEA -->
              <h1 style="margin-bottom:20px; border-bottom:dashed 1px #cccccc; padding-bottom:20px;">Si Ud. es dueño,<span> publique ahora</span> y comience a recibir ofertas</h1>
              <div class="col">
              	<div class="incol">
                  <div class="stepshome one"></div>
                  <div class="data">
                    <h4>Sin comisión</h4>
                    <h5>Menos es menos</h5>
                  </div>
								</div>                
                <p class="air">
La transacción es DIRECTA entre dueños e interesados. DirectoDueño lo conecta con un comprador y ninguno debe pagar comisión por intermediación.
                </p>
                
              </div> 
                
              <div class="col">
              	<div class="incol">
                	<div class="stepshome two"></div>
                  <div class="data">
                    <h4>Fotos ilimitadas</h4>
                    <h5>Más es más</h5>
                  </div>
                </div>
                <p class="air">
                Subí la cantidad de fotografías que desees, tal como las sacaste de tu cámara o teléfono celular. No es necesario que modifiques su tamaño, ni que la rotes, ni que la renombres para ordenarlas.  
                </p>
              </div>  
              <div class="col">
              	<div class="incol">
                  <div class="stepshome three"></div>
                  <div class="data">
                    <h4>Contacto directo</h4>
                    <h5>Sin intermediarios</h5>
                  </div>
                </div>
                <p class="air">
                Los usuarios te contactan directamente, sin intermediarios. Configurás que tu correo y teléfono sean visibles y listo.
                </p>
              </div> 
              <br/>
            </div>
        </div>
       {% set footer_extended=1 %} 
       {% include "frontend/templates/footer.html" %}
    </div>
    {% include "frontend/help.html" %}
  </body>
{% endblock %}