<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
		<head>
		<!-- This is a simple example template that you can edit to create your own custom templates -->
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<!-- Facebook sharing information tags -->
		<title>Lanzamiento DirectoDueno.com</title>
		<style type="text/css">
    	body { font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#FFF;}
    </style>
		</head>
		<body style="margin:0 auto; width:960px;">
    <center>
      <table width="100%" border="0" cellpadding="0" cellspacing="0" style=" background:#FFF;">
        <tbody>
          <tr>
            <td><!-- // Begin Module: Standard Preheader \\ -->
              
              <table border="0" cellpadding="10" cellspacing="0" width="100%">
                <tr>
                  <td valign="top" width="1" style="padding:0px 20px;padding-left:16px"><img src="http://www.directodueno.com/img/email/directodueno.gif" alt="DirectoDueño"></td>
                  <td valign="top"><div mc:edit="std_preheader_content" style="font-size:12px;">Donde Vendés y Alquilás tu propiedad sin intermediarios. </div></td>
                  
                </tr>
              </table>
              
              <!-- // End Module: Standard Preheader \\ --></td>
          </tr>
          <tr bgcolor="#99deef">
            <td style="font-family:Arial,Helvetica,sans-serif;border-top:5px solid #ffffff"><div style="padding:20px 0">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tbody>
                    <tr>
                    <td width="1" valign="top" style="padding-right:10px"><img style="width:430px; height:328px;" src="http://www.directodueno.com/img/email/welcome.gif" alt="Bienvenido a DirectoDueno.com"></td>
                    <td valign="top" align="left" style="padding-right:20px"><h1 style="font-size:24px;font-weight:normal;margin-bottom:10px">¡Te invitamos al lanzamiento de DirectoDueno.com!</h1>
                        <span style="font-size:21px">Donde Vendés y Alquilás tu propiedad sin intermediarios.<br>
                      </span><br>
                        <br>
                        <a href="http://www.directodueno.com/admin/signup" style="background-color:#ff9600;border:3px solid #ffffff;color:#ffffff;display:inline-block;font-size:15px;font-weight:bold;padding:20px 50px;text-decoration:none;white-space:nowrap;margin-bottom:15px" target="_blank">PUBLICÁ GRATIS!</a><br>
                        <p style="font-size:12px"><a href="http://www.directodueno.com/admin/signup" title="Registrate y publicá gratis!" target="_blank">Registrate Ahora y PUBLICÁ GRATIS tu propiedad</a></p></td>
                  </tr>
                  </tbody>
              </table>
              </div></td>
          </tr>
          <tr>
            <td style="font-size:10px;color:#cccccc;font-family:Arial,Helvetica,sans-serif;padding:20px"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                <td><img class="logo_foot" style="width:123px; height:61px;" src="http://www.directodueno.com/img/email/directodueno.png" alt="DirectoDueño" /></td>
                <td><p style="font-size:10px;color:#cccccc; padding:10px;">Por favor, no responda a este mensaje; fue enviado desde una cuenta de correo electrónico no monitoreada. Este mensaje es un correo electrónico relacionado con el uso de  DirectoDueño. Para peticiones generales o solicitar soporte para tu cuenta de DirectoDueño, por favor contactanos en <a href="mailto:ayuda@directodueno.com" style="font-size:10px;color:#0033ff;font-family:Arial,Helvetica,sans-serif" target="_blank">Soporte DirectoDueño.</a> </p></td>
                <td><img class="appengine" style="margin-right:0; width:86px; height:80px;" src="http://www.directodueno.com/img/googleappengine.jpg" alt="Google App Engine"/></td>
              </tr>
              </table></td>
          </tr>
        </tbody>
      </table>
      
      
      <table width="100%" border="0" cellpadding="10" cellspacing="0" id="templateFooter">
        <tr>
          <td valign="top" class="footerContent"><!-- // Begin Module: Standard Footer \\ -->
            
            <table border="0" cellpadding="10" cellspacing="0" width="100%">
              <tr>
                <td colspan="2" align="center" valign="middle" id="utility"><div mc:edit="std_utility"> &nbsp;<a href="*|UNSUB|*">darme de baja de esta lista</a> | <a href="*|UPDATE_PROFILE|*">actualizar preferencias</a><!-- *|IFNOT:ARCHIVE_PAGE|* --> | <a href="http://www.directodueno.com/landing/promo-lanzamiento">ver en el navegador</a><!-- *|END:IF|* -->&nbsp; </div></td>
              </tr>
            </table>
            
            <!-- // End Module: Standard Footer \\ --></td>
        </tr>
      </table>
    </center>
</body>
</html>