{% extends "backend/_base2.html" %}

{% block headscript %}
<script type="text/javascript">
$(document).ready(function() {
  init_restore_password();
});
</script>
{% endblock %}

{% block content %}
<div id="login_container" class="login_window">
	<div class="popup restore">
    	<div id="login" class="popup_box" align="left">
        <form action="{{url_for('backend/auth/restore', key=key)}}" method="post">
          <div class="restorebox">
            <h1>Restablecer Contraseña</h1>
              <p class="inputbox"> 
                  <span class="field">
                    <label>Email</label><input class="xg long right" name="useremail" type="text" readonly value="{{email}}" placeholder="Email" />
                  </span> 
              </p>
              <p class="inputbox"> 
                  <span class="field">
                    <label>Nueva Contraseña</label>
                    <input class="xg long right" name="password" id="password" type="password" placeholder="Contraseña"/>
                  </span> 
              </p>
              <p class="inputbox"> 
                  <span class="field">
                    <label>Confirmar Contraseña 
                      <a href="#" class="btnIcon" id="password_unequal" style="display:none;" title="Verifique que las contraseñas sean iguales">
                        <img src="/img/icons/delete.png" />
                      </a>
                    </label>
                    <input class="xg long right" name="confirm" id="confirm_password" type="password" placeholder="Confirme contraseña" />
                  </span> 
              </p>
              <!--a class="fancy_button restore" href="#"><span>RESTABLECER CONTRASEÑA</span></a-->
              <a href="#" class="fancy_button restore"><input type="submit" value="RESTABLECER CONTRASEÑA" name=""></a>
          </div>
        </form>
		</div>
    </div>
</div>
{% endblock %}