{% extends "backend/_base2.html" %}

{%- macro form_field(field, label='', class='') -%}
	<div class="field">
    {% if label != '' %}
    <div class="input_label">{{label}}</div>
    {% endif %}
    {{ field(class=class+(' error' if field.errors else '')  , **kwargs) }}
    {% if field.name == 'confirm' %}
      <a href="#" class="btnIcon" id="password_unequal" style="display:none;position:absolute;top:13px;right:0px;" title="Verifique que las contraseñas sean iguales">
        <img src="/img/icons/delete.png" />
      </a>
    {% endif %}
    {% if field.name == 'accept_terms' %}
    Acepto los <a target="_blank" href="{{url_for('frontend/terms')}}">términos y condiciones</a>    
    {% endif %}
  </div> 
  {% if field.errors %}
    <p style="margin-left:6px;" class="error">{{ field.errors.0 }}</p>
  {% endif %}
{%- endmacro -%}

{% block headscript %}
<script type="text/javascript">
$(document).ready(function() {
  init_signup();
  doKetchup(null);
});
</script>
{% endblock %}

{% block content %}


<div style="width:940px; margin:auto;">


<div class="signupBox">
  <div class="popup" style="border:none; width: 400px; text-align:left;">
    <div id="login" class="popup_box" style="padding:0;"> 
      <h1 style="font-size:24px; margin-left:5px;">Comience a Publicar Ahora!</h1>
      <h2 style="color:#0A5278; font-weight:normal; margin-left:5px;">Utilize la plataforma sin cargo por un período de 7 días.</h2>
      {% set post_url = url_for('backend/auth/signup/promo',promo=promo ) if promo else url_for('backend/auth/signup') %}
      <form id="signup_form" action="{{post_url}}" method="post" style="margin-right:15px; width:400px; margin-top:15px;">
        <!-- ///// IDENTITY ///// -->    
        <div class="{{ 'errorbox' if form.email.errors else '' }}"> 
          {{ form_field(form.email, label='email', class="xg long", placeholder="Correo electrónico") }}
        </div>

        <div class="{{ 'errorbox' if form.password.errors else '' }}"> 
          {{ form_field(form.password, label='contraseña',  class="xg long", placeholder="Contraseña", id="password") }}
        </div>
        <div class="last {{ 'errorbox' if form.confirm.errors else '' }}"> 
          {{ form_field(form.confirm, label='repetir', class="xg long", placeholder="Repetir contraseña", id="confirm_password") }}
        </div>
        
        <div class="last {{ 'errorbox' if form.accept_terms.errors else '' }}" style="clear:both;"> 
          {{ form_field(form.accept_terms) }}
        </div>
        {{form.ketchup(id='ketchup')}}
        <input type="hidden" name="plan" id="plan" value="{{default_plan}}" />
        <input type="submit" value="COMENZAR A PUBLICAR!" name="" class="btnPublish register">
      </form>  
    </div>
  </div>
</div>


<!-- Foot -->
<div class="foot">
  <img class="logo_foot" src="/img/pixel-transp.gif" alt="DirectoDueño" />
  <p>El uso de este sitio web implica la aceptación de los Términos y Condiciones y la Política de Privacidad de directodueno.com.ar.<br/>
  Copyright © 2011 - Todos los derechos reservados. Protección de Datos Personales.</p> 
  <img class="appengine" src="/img/googleappengine.jpg"/>       
</div>
  
  


</div>  

{% endblock  %}