<div class="msg_sys payment_advice" id="realestate_disabled">
    <span class="icon alert"></span>
    <span class="txt">Usted posee facturas impagas, sus propiedades se han desactivado hasta regularizar el pago. <a href="#">Click aquí para pagar ahora</a></span>
    <a href="#" id="realestate_disabled_close" onclick="jQuery('#realestate_disabled').slideUp('slow');jQuery('a.btnBuy').slideDown('slow'); return false;" class="icon close"></a>
  </div>
<a class="btnBuy payment_advice" style="display:none;"href="#">Click aquí para pagar</a>