
        <div id="footer">
          {% if footer_extended==1 %} 
            <!--div class="top_search">
              <h3>Sugerencias de Búsqueda:</h3>
              <div>
              <ul class="lnk_search">
                <div>Por tipo de propiedad, operación y zona</div>
                <li><a href="/mapa/casas-en-venta-en-la-plata/73007"> Casas en Venta en La Plata </a></li>
                <li><a href="/mapa/casas-en-venta-en-gonnet/73006"> Casas en Venta en Gonnet </a></li>
                <li><a href="/mapa/casas-en-venta-en-city-bell/40020"> Casas en Venta en City Bell</a></li>
                <li><a href="/mapa/casas-en-venta-en-tolosa-y-ringuelet/72007" title="Casas en Venta en Tolosa y Ringuelet">Casas en Venta en Tolosa</a></li>
                
                <li><a href="/mapa/departamentos-en-venta-en-zona-norte/72008"> Departamentos en Venta en Zona Norte</a></li>
                <li><a href="/mapa/departamentos-en-venta-en-la-plata/74002"> Departamentos en venta en La Plata</a></li>
                <li><a href="/mapa/departamentos-en-venta-en-gonnet/74003"> Departamentos en Venta en Gonnet </a></li>
                <li><a href="/mapa/departamentos-en-venta-en-city-bell/54106"> Deptos. en Venta en City Bell</a></li>
                <li><a href="/mapa/departamentos-en-venta-en-tolosa-y-ringuelet/54105" title="Departamentos en Venta en Tolosa y Ringuelet">Departamentos en Venta en Tolosa</a></li>
                <li><a href="/mapa/departamentos-en-alquiler-en-la-plata/40019" title="Departamentos en Alquiler en La Plata"> Deptos. en Alquiler en La Plata </a></li>
                <li><a href="/mapa/departamentos-en-alquiler-en-gonnet/76004" title="Departamentos en Alquiler en Gonnet"> Deptos. en Alquiler en Gonnet </a></li>
                <li><a href="/mapa/departamentos-en-alquiler-en-city-bell/76003" title="Departamentos en Alquiler en City Bell"> Deptos. en Alquiler en City Bell</a></li>
                <li><a href="/mapa/departamentos-en-alquiler-en-tolosa-y-ringuelet/76005" title="Departamentos en Alquiler en Tolosa y Ringuelet"> Deptos. en Alquiler en Tolosa</a></li>
                <li><a href="/mapa/locales-y-oficinas-en-venta-en-la-plata/40021"> Locales y Oficinas en Venta en La Plata </a></li>
                <li><a href="/mapa/locales-en-alquiler-en-city-bell/73008"> Locales en Alquiler en City Bell </a></li>
                <li><a href="/mapa/casas-en-venta-en-zona-norte/75003"> Casas en Venta en Zona Norte</a></li>
                
              </ul>
              </div>
            </div-->
          {% endif %} 
          <!--p class="skill">DirectoDueño es el portal inmobiliario líder en oferta de inmuebles en La Plata, Gran La Plata y Buenos Aires Zona Norte.
            DirectoDueño es la primer aplicación web en utilizar un sistema de Geolocalización Real en Latinoamérica, esto quiere decir que con sólo ubicar 
            una zona en el mapa, automáticamente se muestra la oferta disponible.<br/> 
            Encuentre la mayor oferta de propiedades filtradas por venta y alquiler de departamentos, casas, PH, oficinas, locales comerciales, fondos de comercio, galpones, consultorios, casa en country o barrio privado, quintas, lotes y terrenos, cocheras y mucho más. <br> 
            En DirectoDueño solamente hay que seleccionar la zona de interés en el mapa para conocer la oferta disponible de casas en alquiler, casas en venta, departamentos en alquiler en La Plata, terrenos en Gonnet, terrenos en City Bell, casas en Zona Norte, Vicente López, Florida, Olivos, La Lucila, Martínez, Acasusso, San Isidro y mucho más.  
          </p-->
          <!-- Foot -->
          <div class="foot">
            <img class="logo_foot" src="/img/pixel-transp.gif" alt="DirectoDueño" />
            <p>El uso de este sitio web implica la aceptación de los <a href="{{url_for('frontend/terms')}}">Términos y Condiciones y la Política de Privacidad de directodueno.com</a>.<br/>
            Copyright © 2011 - Todos los derechos reservados. Protección de Datos Personales.</p> 
            <img class="appengine" src="/img/googleappengine.jpg"/>      
          </div>
          
        </div>