<ul class="mnuTop"> 
    <!-- ///// INICIO ///// -->
    {% if in_map is defined %}
    <!--li><a href="{{ url_for('frontend/home') }}" title="Inicio">Inicio</a></li-->
    {% endif %}
    
	<!-- ///// PUBLICAR ///// -->
{% if in_map is not defined %}
    <!--li class="btnLight"><a href="{{ url_for('property/list') }}" title="Publicar mi propiedad">Soy Dueño</a></li>
    <li><a href="mailto:ayuda@directodueno.com" title="Ayuda">Ayuda</a></li-->
    <li style="margin-top:30px; border-left:none;"><a href="admin/signup" title="Publique su propiedad">SOY DUEÑO, QUIERO PUBLICAR</a></li>
    
    <!--li><a href="http://www.youtube.com/watch?v=QTIXl9ZKyUs" onclick="jQuery('#help_video').show(); return false;" title="Ver video de ayuda">Video</a></li-->
{% endif %}
    
</ul>