<!-- LOADING -->
<!-- div id="loading_map" style="display:none;" class="loadingmap" title="Aguarde...">
  <img src="/img/misc/loader_b.gif" title="Aguarde..." />
</div -->

<div id="map_tab_content">
  <div id="shadow-h"></div>
  <!-- div id="shadow-v"></div -->
  <div class="map" id="map_container">
    <div id="btnMoreProps">
      <input class="btnMoreProps prev" id="btnMoreProps_prev" name="" type="button" value="{{max_results}} Anteriores" disabled="disabled" onclick="return getPrev();"/><input class="btnMoreProps next" id="btnMoreProps_next" name="" type="button" value="{{max_results}} Siguientes" disabled="disabled" onclick="return getNext();" />
    </div>
    <div id="map_canvas"></div> 
    <!-- FOOTER MAP -->
    <div class="foot_map" id="foot_map">
      <!--div class="seeing">Viendo <b id="display_viewing_count">0</b> propiedades de <b id="display_total_count">65.000</b></div-->
    </div>
  </div>
</div>