<ul class="mnuActions">
    <li>
        <a href="#" class="item">
            <span class="imgWrap"><i class="save"></i></span>
            <span class="linkWrap">Guardar</span>
        </a>
    </li>
    <li>
        <a href="#" class="item">
            <span class="imgWrap"><i class="send"></i></span>
            <span class="linkWrap">Enviar</span>
        </a>
    </li>
    <li>
        <a href="#" class="item">
            <span class="imgWrap"><i class="alert"></i></span>
            <span class="linkWrap">Alerta</span>
        </a>
    </li>
    <li>
        <a href="#" class="item">
            <span class="imgWrap"><i class="visit"></i></span>
            <span class="linkWrap">Visitar</span>
        </a>
    </li>
</ul>