<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DirectoDueño</title>
  </head>
  <body style="margin:0;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td style="padding:0px 20px; padding-left:16px;"><img src="{{server_url}}/img/email/directodueno.gif" />
        </td>
      </tr>
      {%block content%}
      {%endblock%}  
      <tr>
        <td style="font-size:10px; color:#cccccc; font-family:Arial, Helvetica, sans-serif; padding:20px;">
          <p style="font-size:10px; color:#cccccc;">Por favor, no responda a este mensaje; fue enviado desde una cuenta de correo electrónico no monitoreada. Este mensaje es un correo electrónico relacionado con el uso de  DirectoDueño. Para peticiones generales o solicitar soporte para tu cuenta de DirectoDueño, por favor contactanos en <a href="{{support_url}}" style="font-size:10px; color:#0033ff; font-family:Arial, Helvetica, sans-serif;">Soporte DirectoDueño.</a>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>