<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>ULTRAPROP</title>
  </head>
  <body>

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="margin:0;padding:0;background-color:#FAFAFA;min-height:100% !important;width:100% !important">
      <tbody><tr>
          <td align="center" valign="top" style="border-collapse:collapse">
                
                <table border="0" cellpadding="10" cellspacing="0" width="600" style="background-color:#FAFAFA">
                    <tbody><tr>
                        <td valign="top" style="border-collapse:collapse">

                          
                            <table border="0" cellpadding="10" cellspacing="0" width="100%">
                              <tbody><tr>
                                  <td valign="top" style="border-collapse:collapse">
                                      <div style="color:#505050;font-family:Arial;font-size:10px;line-height:100%;text-align:left">ULTRAPROP, La mejor opción para publicar en La Plata y Gran La Plata.<br>
</div>
                                    </td>
                                    
              <td valign="top" width="190" style="border-collapse:collapse">
                                      <div style="color:#505050;font-family:Arial;font-size:10px;line-height:100%;text-align:left">
                                          No puede visualizar correctamente este email?<a href="http://www.ultraprop.com.ar/admin/signup" style="color:#336699;font-weight:normal;text-decoration:underline" target="_blank">haga click aquí</a>.
                                        </div>
                                    </td>
              
                                </tr>
                            </tbody></table>
                          

                        </td>
                    </tr>
                </tbody></table>
                
              <table border="0" cellpadding="0" cellspacing="0" width="600" style="border:1px solid #DDDDDD;background-color:#FFFFFF">
                  <tbody><tr>
                      <td align="center" valign="top" style="border-collapse:collapse">
                        <div align="left"><a href="http://www.ultraprop.com.ar" target="_blank"><img src="http://gallery.mailchimp.com/99dae83a2de15ce2a423b043b/images/logotipo.gif" alt="" border="0" style="margin:0;padding:0;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none"></a></div>
                            
                          <table border="0" cellpadding="0" cellspacing="0" width="600" style="background-color:#FFFFFF;border-bottom:0">
                                <tbody><tr>
                                    <td style="border-collapse:collapse;color:#202020;font-family:Arial;font-size:34px;font-weight:bold;line-height:100%;padding:0;text-align:center;vertical-align:middle">
                                      
<a href="http://ultraprop.us2.list-manage1.com/track/click?u=99dae83a2de15ce2a423b043b&amp;id=387c400c70&amp;e=31dfa1654e" style="color:#336699;font-weight:normal;text-decoration:underline" target="_blank"><img src="http://gallery.mailchimp.com/99dae83a2de15ce2a423b043b/images/features.jpg" alt="" border="0" style="margin:0;padding:0;border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none"></a>
                                      

                                    </td>
                                </tr>
                            </tbody></table>
                            
                        </td>
                    </tr>
                  <tr>
                      <td align="center" valign="top" style="border-collapse:collapse">
                            
                          <table border="0" cellpadding="0" cellspacing="0" width="730">
                              <tbody><tr>
                                  <td valign="top" width="180" style="border-collapse:collapse;background-color:#FFFFFF">
                                        
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                            <tbody><tr>
                                                <td valign="top" style="border-collapse:collapse">
                                                    <div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left"><h3 style="color:#202020;display:block;font-family:Arial;font-size:18px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">
Más es más...</h3>
<div align="center" style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
<a href="http://ultraprop.us2.list-manage1.com/track/click?u=99dae83a2de15ce2a423b043b&amp;id=bc843c96d6&amp;e=31dfa1654e" style="color:#336699;font-weight:normal;text-decoration:underline" target="_blank"><img border="0" height="116" src="http://gallery.mailchimp.com/99dae83a2de15ce2a423b043b/images/map.1.jpg" style="line-height:100%;outline:medium none;text-decoration:none;display:inline;border-width:0pt;border-style:solid;border:0;min-height:auto" width="180"></a></div>
<ul style="padding:0;line-height:120%">
<li>
<span style="font-size:12px"><strong>Sin Límites:&nbsp;</strong>En ULTRAPROP nada tiene límites, publique la cantidad de propiedades que desee sin limitar la cantidad de fotografías que la propiedad requiere. Porque los límites son para los pequeños y ULTRAPROP es Grande, muy Grande!</span><br>
&nbsp;</li>
<li>
<span style="font-size:12px"><strong>Más visitas:</strong>&nbsp;ULTRAPROP crece día a día, por eso hoy podemos anunciar que somos el portal inmobiliario más visitado de La Plata y Gran La plata.</span><br>
&nbsp;</li>
<li>
<span style="font-size:12px"><strong>Innovación:</strong>&nbsp;Somos el primer portal inmobiliario con búsquedas por Geolocalización Real de Latinoamérica.</span><br>
&nbsp;</li>
<li>
<span style="font-size:12px"><strong>Seguridad:</strong>&nbsp;Garantía 100% en el aire, ULTRAPROP se encuentra alojado en la mayor infraestructura de servidores replicados del mundo.</span><br>
&nbsp;</li>
</ul>
<div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
<a href="http://ultraprop.us2.list-manage.com/track/click?u=99dae83a2de15ce2a423b043b&amp;id=13562ccb40&amp;e=31dfa1654e" style="color:#336699;font-weight:normal;text-decoration:underline" target="_blank"><img align="left" alt="Probar Ahora!" border="0" height="31" src="http://gallery.mailchimp.com/99dae83a2de15ce2a423b043b/images/testnow.1.gif" style="line-height:100%;text-decoration:none;display:inline;border:0pt solid;outline:medium none;min-height:auto" width="172"></a></div>
</div>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                        

                                    </td>
                                  <td valign="top" width="180" style="border-collapse:collapse;background-color:#FFFFFF">
                                        
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                            <tbody><tr>
                                                <td valign="top" style="border-collapse:collapse">

<div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left"><h3 style="color:#202020;display:block;font-family:Arial;font-size:18px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">
Fácil y rápido</h3>
<div align="center" style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
<a href="http://ultraprop.us2.list-manage2.com/track/click?u=99dae83a2de15ce2a423b043b&amp;id=ac37076156&amp;e=31dfa1654e" style="color:#336699;font-weight:normal;text-decoration:underline" target="_blank"><img src="http://gallery.mailchimp.com/99dae83a2de15ce2a423b043b/images/admin.jpg" style="border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none;display:inline"></a></div>
<ul style="padding:0;line-height:120%">
<li>
<span style="font-size:12px"><strong>Fácil de usar, rápido de implementar:</strong>&nbsp;La carga de información no debe ser nunca una barrera entre usted y sus clientes, por eso hemos desarrollado un sistema ágil que le permite mantener su oferta actualizada de forma ágil y amena.</span><br>
&nbsp;</li>
<li>
<span style="font-size:12px"><strong>La imagen es todo:</strong>&nbsp;Suba la cantidad de fotografías que desee, sin tener que procesarlas, tal como las obtuvo de su cámara o teléfono celular, no es necesario que modifique su tamaño, rote su posición, ni renombre para ordenarlas, una vez arriba podrá ordenarlas mediante drag &amp; drop.</span><br>
&nbsp;</li>
<li>
<span style="font-size:12px"><strong>Ubicación:</strong>&nbsp;Los usuarios buscan propiedades por zonas de interés. Ubique los inmuebles en el mapa de la forma más sencilla.</span></li>
</ul>
<div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
<a href="http://ultraprop.us2.list-manage.com/track/click?u=99dae83a2de15ce2a423b043b&amp;id=b40109bfe5&amp;e=31dfa1654e" style="color:#336699;font-weight:normal;text-decoration:underline" target="_blank"><img align="left" alt="Probar Ahora!" border="0" height="31" src="http://gallery.mailchimp.com/99dae83a2de15ce2a423b043b/images/testnow.1.gif" style="line-height:100%;text-decoration:none;display:inline;border:0pt solid;outline:medium none;min-height:auto" width="172"></a></div>
</div>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                        
                                    </td>
                                  <td valign="top" width="180" style="border-collapse:collapse;background-color:#FFFFFF">
                                        
                                        <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                            <tbody><tr>
                                                <td valign="top" style="border-collapse:collapse">
<div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left"><h3 style="color:#202020;display:block;font-family:Arial;font-size:18px;font-weight:bold;line-height:100%;margin-top:0;margin-right:0;margin-bottom:10px;margin-left:0;text-align:left">
Identidad</h3>
<div align="center" style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
<a href="http://ultraprop.us2.list-manage.com/track/click?u=99dae83a2de15ce2a423b043b&amp;id=05927caa42&amp;e=31dfa1654e" style="color:#336699;font-weight:normal;text-decoration:underline" target="_blank"><img src="http://gallery.mailchimp.com/99dae83a2de15ce2a423b043b/images/site.jpg" style="border:0;min-height:auto;line-height:100%;outline:none;text-decoration:none;display:inline"></a></div>
<ul style="padding:0;line-height:130%">
<li>
<span style="font-size:12px"><strong>Mi Web Propia:</strong>&nbsp;Su cartera de inmuebles más completa e impactante. Mejoras y actualizaciones gratuitas.</span><br>
&nbsp;</li>
<li>
<span style="font-size:12px"><strong>Con Nombre Propio:&nbsp;</strong><br>
<strong>"Si aún no tiene su dominio propio"</strong>, lo registramos y alojamos en nuestros servidores. Gestionamos su correo @<a href="http://su_inmobiliaria.com.ar" target="_blank">su_inmobiliaria.com.ar</a> </span><br>
<span style="font-size:12px"><strong>"Si ya tiene dominio propio"</strong>, lo alojamos en nuestros servidores, implementando la tecnología de ULTRAPROP para su web propia. </span><br>
<span style="font-size:12px"><strong>"Si ya tiene su web propia"</strong> y desea mantener su diseño original, le ofrecemos un script para administrar y mostrar su oferta inmobiliaria dentro de su web. </span><br>
&nbsp;</li>
<li>
<span style="font-size:12px"><strong>Email @su_inmobiliaria:</strong>&nbsp;Permita que sus clientes lo contacten a una cuenta más confiable y profesional.</span></li>
</ul>
<div style="color:#505050;font-family:Arial;font-size:14px;line-height:150%;text-align:left">
<a href="http://ultraprop.us2.list-manage.com/track/click?u=99dae83a2de15ce2a423b043b&amp;id=28bc70c772&amp;e=31dfa1654e" style="color:#336699;font-weight:normal;text-decoration:underline" target="_blank"><img align="left" alt="Probar Ahora!" border="0" height="31" src="http://gallery.mailchimp.com/99dae83a2de15ce2a423b043b/images/testnow.1.gif" style="line-height:100%;text-decoration:none;display:inline;border:0pt solid;outline:medium none;min-height:auto" width="172"></a></div></div>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                        

                                    </td>
                                </tr>
                            </tbody></table>
                            
                        </td>
                    </tr>
                  <tr>
                      <td align="center" valign="top" style="border-collapse:collapse">
                            
                          <table border="0" cellpadding="10" cellspacing="0" width="730" style="background-color:#FFFFFF;border-top:0">
                              <tbody><tr>
                                  <td valign="top" style="border-collapse:collapse">

                                        
                                        <table border="0" cellpadding="10" cellspacing="0" width="100%">
                                            <tbody><tr>
                                                <td colspan="2" valign="middle" style="border-collapse:collapse;background-color:#FAFAFA;border:0">
                                                    <div style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:center"><br>
</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top" width="450" style="border-collapse:collapse">
                                                    <div style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:left"><em>Copyright © 2011 UltraProp, Todos los derechos reservados.</em><br>
Este correo es una invitación para formar parte de la Red Inmobiliaria ULTRAPROP.<br>
<br>
<strong>ULTRAPROP</strong><br>
28 #73 La Plata<br>
Aguirre 276, Capital Federal</div>
                                                </td>
                                                <td valign="top" width="190" style="border-collapse:collapse">
                                                    <div style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:left">
&nbsp;</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" valign="middle" style="border-collapse:collapse;background-color:#FFFFFF;border:0">
                                                    <div style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:center">&nbsp;
                                                    <a href="http://www.ultraprop.com.ar/unsubscribe/{{mail_to}}" style="color:#336699;font-weight:normal;text-decoration:underline" target="_blank">No quiero recibir más correos</a>&nbsp; </div>
                                                </td>
                                            </tr>
                                        </tbody></table>
                                        

                                    </td>
                                </tr>
                            </tbody></table>
                            
                        </td>
                    </tr>
                </tbody></table>
                <br>
            </td>
        </tr>
    </tbody>
  </table>
</body>
</html>