{% extends "email/_base.html"%}

{%block content%}
  <tr bgcolor="#99deef">
    <td style="font-family:Arial, Helvetica, sans-serif; border-top:5px solid #ffffff;">
        <div style="padding:20px 0;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="1" valign="top" style="padding-right:10px;"><img src="{{server_url}}/img/email/welcome.gif" /></td>
              <td valign="top" align="left" style="padding-right:20px;">
              <h1 style="font-size:24px; font-weight:normal; margin-bottom:10px;">¡Hola, soy DirectoDueño.com y te escribo para invitarte a mi lanzamiento!</h1>
              <span style="font-size:15px;">En DirectoDueño vendés y alquilás tu propiedad sin intermediarios.<br/>
              </span><br /><br /><a href="http://www.directodueno.com/admin/signup" style="background-color: #ff9600; border: 3px solid #ffffff; color: #FFFFFF; display: inline-block; font-size: 13px; font-weight: bold; padding: 20px 50px; text-decoration: none; white-space: nowrap; margin-bottom:15px;">COMENZAR A PUBLICAR!</a><br />
              <p style="font-size:12px;">Te espero para que <a href="http://www.directodueno.com/admin/signup" title="Registrate y publicá gratis!">concretes tu negocio aquí</a>!</p>
              </td>
            </tr>
          </table>
          
        </div>
    </td>
  </tr>
{% endblock %}