{% extends "email/_base.html"%}
{%block content%}
  <tr>
    <td style="font-family:Arial, Helvetica, sans-serif; padding:8px 20px;">
      <h1 style="font-size:18px; font-weight:normal;">Estimado usuario de DirectoDueño.</h1>
      <div style="border-bottom:solid 3px #cccccc; border-right:solid 4px #cccccc;">
        <div style="border:solid 1px #cccccc; padding:20px; padding-top:25px;">
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top">
								Queremos avisarle que se generó la siguiente factura {{invoice.trx_id}} correspondiente al mes {{invoice.date.strftime('%m')}} de {{invoice.date.strftime('%Y')}}<br/>
                <span style="font-size:15px; font-weight:bold;"></span>
              </td>
              <td width="250" align="right" valign="top"><a href="http://www.directodueno.com/admin/account/status" style="background-color: #ff9600; border: 1px solid #cc6600; color: #FFFFFF; display: inline-block; font-size: 13px; font-weight: bold; padding: 15px 25px; text-decoration: none; white-space: nowrap; margin-bottom:15px; font-size:14px; font-family:Verdana, Arial, sans-serif;" title="Ir al Panel de control">Ir al Panel de control</a><br /></td>
            </tr>
          </table>
          <p style="font-size:12px; margin-bottom:10px;">
            Puede realizar el pago de la factura ingresando en la solapa <a href="http://www.directodueno.com/admin/account/status">Mi Cuenta</a> dentro del <a href="http://www.directodueno.com/admin/account/status">panel de control</a> de DirectoDueño.<br />
            Para acceder al panel ahora haga <a href="http://www.directodueno.com/admin/account/status" style="font-size:12px;">click aquí</a> o presione en "Ir al Panel de control".
          </p>
          
          
          <p style="font-size:12px; margin-bottom:10px;">Recuerde que pasados los 15 días del vencimiento, sus propiedades serán suspendidas.</p>
          
        </div>
      </div>
    </td>
  </tr>
{% endblock %}