{% extends "email/_base.html"%}

{%block content%}
  <tr bgcolor="#99deef">
    <td style="font-family:Arial, Helvetica, sans-serif;">
      <!--p style="font-size:13px; margin-bottom:20px;"> Estamos contentos por contar con su membrecía, esperamos que encuentre en DirectoDueño una herramienta útil para concretar sus negocios inmobiliarios. Esa es nuestra misión. </p-->
        <div style=" padding-bottom:20px;">
          <table width="100%" border="0">
            <tr>
              <td width="1" valign="top" style="padding-right:10px;"><img src="/img/email/welcome.gif" /></td>
              <td valign="top" align="left" style="padding-right:20px;">
              <h1 style="font-size:24px; font-weight:normal; margin-bottom:10px;">¡Bienvenido a DirectoDueño!</h1>
              <span style="font-size:15px;">Haga <a href="{{validate_user_link}}">click aquí</a> para validar su email y comenzar a publicar en DirectoDueño.</span><br /><br /><a href="{{validate_user_link}}" style="background-color: #ff9600; border: 3px solid #ffffff; color: #FFFFFF; display: inline-block; font-size: 13px; font-weight: bold; padding: 20px 50px; text-decoration: none; white-space: nowrap; margin-bottom:15px;">COMENZAR A PUBLICAR!</a><br />
              <p style="font-size:12px;">Recuerde completar su perfil público, es indispensable para que los usuarios lo contacten.</p>
              </td>
            </tr>
          </table>
          
        </div>
    </td>
  </tr>
{% endblock %}